@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@import url(https://fonts.googleapis.com/css?family=Merriweather:900,400);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700);
body {
    font-family: 'Merriweather Sans', sans-serif;
    padding-bottom: 10px;
}

hr {
    border-color: #f5822a;
}
h1 {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    color: black;
}

h3 {
    font-family: 'Merriweather', serif;
    color: #f5822a;
    font-weight: 700;
}
#center {
    text-align: center;
}

h5 {
    color: #f5822a;
}


td {

	border-bottom: 1px solid #f5822a;
	border-top: 1px solid #f5822a;
	padding: 15px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

a{
    color: #f5822a;
}

li a {
    font-family: 'Merriweather', serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #f5822a;
    text-decoration: none;
    color: white;
}

li a:active{
	background-color: #f5822a;
    text-decoration: none;
    color: white;
}

table.dataTable.display tbody tr.odd.selected > .sorting_1,
    table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1,
    table.dataTable.display tbody tr.even.selected > .sorting_1,
    table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
        background-color: #f5822a; 
        color: white;
}


table.dataTable.hover tbody tr:hover.selected,
    table.dataTable.display tbody tr:hover.selected,
    table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected,
    table.dataTable.stripe tbody tr.even.selected, table.dataTable.display tbody tr.even.selected
     {
      background-color: #bcbcbc;

}
table.dataTable.hover tbody tr:hover.selected a,
    table.dataTable.display tbody tr:hover.selected a,
    table.dataTable.stripe tbody tr.odd.selected a, table.dataTable.display tbody tr.odd.selected a,
    table.dataTable.stripe tbody tr.even.selected a, table.dataTable.display tbody tr.even.selected a
     {
      color: white;
      
}


table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #d6d6d6;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover a:hover {
    color: white;
}

.btn {
	color: #f5822a;
}


table.dataTable.display tbody tr:hover>.sorting_1,table.dataTable.order-column.hover tbody tr:hover>.sorting_1{
    background-color: #f8ad73;
    color: white;
} 

.inputnar, .inputhr {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputnar + label, .inputhr + label, .inputdesc + label {
    display: inline-block;
    cursor: pointer;
}

#narlabel, #hrlabel, #desclabel {
    display: inline;
    font-style: italic;
}

.inputnar:focus + label, .inputhr:focus + label, .inputdesc:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}