@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
body {
    font-family: 'EB Garamond', serif;
}
h1 {
    color: #f5822a;
}
h3 {
    color: #f5822a;
    text-decoration: underline;
}
h5 {
    color: #f5822a;
}

tr:nth-child(even) {background-color: #d4d4d4}

td {

	border-bottom: 1px solid #f5822a;
	border-top: 1px solid #f5822a;
	padding: 15px;

}

.btn {
	color: #f5822a;
}

.titlecol{
	width: 300px;
}