@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
body {
    font-family: 'EB Garamond', serif;
}
h1 {
    color: #f5822a;
}
h3 {
    color: #f5822a;
    text-decoration: underline;
}
h5 {
    color: #f5822a;
}


td {

	border-bottom: 1px solid #f5822a;
	border-top: 1px solid #f5822a;
	padding: 15px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

a{
    color: #f5822a;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #f5822a;
    text-decoration: none;
    color: white;
}

li a:active{
	background-color: #f5822a;
    text-decoration: none;
    color: white;
}

table.dataTable.display tbody tr.odd.selected > .sorting_1,
    table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1,
    table.dataTable.display tbody tr.even.selected > .sorting_1,
    table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
        background-color: #f5822a; 
        color: white;
}


table.dataTable.hover tbody tr:hover.selected,
    table.dataTable.display tbody tr:hover.selected,
    table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected,
    table.dataTable.stripe tbody tr.even.selected, table.dataTable.display tbody tr.even.selected
     {
      background-color: #bcbcbc;

}
table.dataTable.hover tbody tr:hover.selected a,
    table.dataTable.display tbody tr:hover.selected a,
    table.dataTable.stripe tbody tr.odd.selected a, table.dataTable.display tbody tr.odd.selected a,
    table.dataTable.stripe tbody tr.even.selected a, table.dataTable.display tbody tr.even.selected a
     {
      color: white;
      
}


table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #d6d6d6;
}

.btn {
	color: #f5822a;
}


table.dataTable.display tbody tr:hover>.sorting_1,table.dataTable.order-column.hover tbody tr:hover>.sorting_1{
    background-color: #f8ad73;
    color: white;
} 

