<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    <title>{% block title %}Your Hendrix Odyssey{% endblock %}</title>

	{# BOOTSTRAP #}
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	{# DATATABLE #}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.1.2/js/buttons.colVis.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/dt/jq-2.2.0,dt-1.10.11,b-1.1.2,r-2.0.2,se-1.1.2/datatables.min.css"/>
	<script type="text/javascript" src="https://cdn.datatables.net/t/dt/jq-2.2.0,dt-1.10.11,b-1.1.2,r-2.0.2,se-1.1.2/datatables.min.js"></script>

	{# CKEditor for text area #}
	{% load static from staticfiles %}
	<script src="{% static "projects/ckeditor/ckeditor.js" %}"></script>
	<script src="{% static "projects/mammoth.browser.min.js" %}"></script>

	{# PROJECT STATIC FILES #}
	<link rel="stylesheet" type="text/css" href= {% static "projects/style.css" %} />
	<script type= "text/javascript" src= {% static "projects/script.js" %}></script>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href= {% static "projects/timeline.css" %} />
	<script type= "text/javascript" src= {% static "projects/timeline.js" %}></script>

</head>
<body>
<div class="container">
	<div class="container-fluid">
		<ul class="navbar">
			<li><a href="/odyssey">Odyssey Home</a></li>
			<li><a href="{% url 'projects:proposal' %}">Proposal Form</a></li>
			<div id="name">
			<li><a>Name<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a></li>
			</div>
		</ul>
	</div>

	<h1>{% block header %}{% endblock %}</h1>
	<hr>
	{% block content %}{% endblock %}
	

</body>

</html>