{% extends "projects/base.html" %}
{% block title %}Odyssey Project Completion Form{% endblock %}
{% block header %}Project Completion and Transcript Notation Form{% endblock %}
{% block content %}
<div class="body">
<p>Your experience will not be considered complete, and it will not appear on your Odyssey transcript until you submit this form.</p>
</div>
        <h3>{{project.title}}</h3>
        <h4 id="projectCategory">Category: {{project.category}}</h4>
        <div>
            <p id="supervisor">
            Supervisor: {{project.advisor.first_name}} {{project.advisor.last_name}}
            </p>
            <p id="group">
            Group Member(s):
            </p>
            <form action='{% url 'projects:submitcompleteedit' project.id %}' method="post" enctype="multipart/form-data">
            Start Date: {{project.start_date}}
            <br><br>
            End Date: <input type="date" id="enddate" value={{enddate}}>
            <br><br>
            
            Total Hours: <input type="text" name="hours" value={{hours}}/><br><br>
            Hours Log:
            <input type="file" name="hrfile" id="hrfile" class="inputhr"/>
            <label for="hrfile">Choose a file</label><p id="hrlabel"> No file selected</p>
            <br><br><a href="" id="CompRequire">Description Requirements</a>
            <br>
            Project Desciption/Transcript Notation:
            <br>
            <br>
            <input type="file" name="descfile" id="descfile" class="inputdesc"/>
            <label for="descfile">Choose a file</label><p id="desclabel"> No file selected</p>
            <p>or</p>
            <textarea rows="15" name="description" cols="56" id="description">{{description}}</textarea> 
            <a href="" id="require">Description Requirements</a>
            {% csrf_token %}
            <br>
            <input type="submit" name="complete" class="btn btn-default btn-sm" value="Save &amp; Submit to Supervisor">
            <input type="submit" name="complete" class="btn btn-default btn-sm" value="Save Form">
            <input type="submit" name="complete" class="btn btn-default btn-sm" value="Delete Form">
            </form>
{% load static from staticfiles %}
<script src="{% static "projects/ckeditor/ckeditor.js" %}"></script>
<script src="{% static "projects/mammoth.browser.min.js" %}"></script>
<script src="{% static "projects/completion.js" %}"></script>

{% endblock %}