{% extends "projects/base.html" %}
{% block title %}Odyssey Project Completion Form{% endblock %}
{% block header %}Project Completion and Transcript Notation Form{% endblock %}
{% block content %}
<div class="body">
<p>Your experience will not be considered complete, and it will not appear on your Odyssey transcript until you submit this form.</p>
</div>
        <h3>{{project.title}}</h3>
        <h4 id="projectCategory">Category: {{project.category}}</h4>
        <div>
            <p id="supervisor">
            Supervisor: {{project.advisor.first_name}} {{project.advisor.last_name}}
            </p>
            <p id="group">
            Group Member(s):
            </p>
            <form action="{% url 'projects:submitcompletion' project.id %}" method="POST" id='completion-form' enctype="multipart/form-data">
            Start Date: <input type="text", id="startdate"/>
            <br><br>
            End Date: <input type="date", id="enddate"/>
            <br><br>
            
            Total Hours: <input type="text", id="hours"/><br><br>
            Hours Log:
            <input type="file" name="hrfile" id="hrfile" class="inputhr"/>
            <label for="hrfile">Choose a file</label><p id="hrlabel"> No file selected</p>
            <br><br>Project Desciption/Transcript Notation:
            <a href="" id="CompRequire">Description Requirements</a><br>
            <input type="file" name="descfile" id="descfile" class="inputdesc"/>
            <label for="descfile">Choose a file</label><p id="desclabel"> No file selected</p>
            <p>or</p>
            <textarea rows="15" cols="56" id="description" placeholder="Type your project description paragraph here, or attach a file above."></textarea> 
            
            
            {% csrf_token %}

            <input type="submit" name="complete" class="btn btn-default btn-sm" value="Save &amp; Submit to Supervisor">
            <input type="submit" name="complete" class="btn btn-default btn-sm" value="Save Form">
            <input type="submit" name="complete" class="btn btn-default btn-sm" value="Delete">
    
            </form>
{% load static from staticfiles %}
<script src="{% static "projects/completion.js" %}"></script>

{% endblock %}