{% extends "projects/base.html" %}
{% block title %}Odyssey Project Completion Form{% endblock %}
{% block content %}
<div class="top">
    <div class="container">
        <h1>
            Project Completion and Transcript Notation Form
        </h1>
        <p>
        Your experience will not be considered complete, and it will not appear on you Odyssey transcript until you submit this form.
        </p>
    </div>
</div>
<div class="body">
    <div class="container">
        <h3 id="projectTitle">
            {{project.title}}
        </h3>
        <h4 id="projectCategory">{{project.category}}</h4>
        <div>
            <p id="supervisor">
            Supervisor: {{project.advisor.first_name}} {{project.advisor.last_name}}
            </p>
            <p id="group">
            Group Member(s):
            </p>
            <form action="">
            Start Date: <input type="text", id="startdate"/>
            <br><br>
            End Date: <input type="date", id="enddate"/>
            <br><br>
            
            Total Hours: <input type="text", id="hours"/> &amp; Hours Log: <input type="file" id="file">
            <br><br>
            Project Desciption/Transcript Notation:
            <br>
            <input type="file" id="file">
            <br>
            or
            <br>
            <textarea rows="20" cols="50" id="narrative"></textarea> 
            <a href="#">Description Requirements</a>
            </form>
    </div>


<button id="ss" class="btn btn-default btn-sm">Save &amp; Submit to Supervisor</button>
<button id="save" class="btn btn-default btn-sm">Save Form</button>
<button id="delete" class="btn btn-default btn-sm">Delete Form</button>
</div>
<!--<div class="bot">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-2">-->
<!--                <button id="ss">Save</button>-->
<!--            </div>-->
<!--            <div class="col-md-3">-->
<!--                <button id="save">Submit for Supervisior Approval</button>-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                <button id="delete">Delete Form</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
{% endblock %}