{% extends "projects/base.html" %}
{% block title %}Odyssey Project Proposal Form{% endblock %}
{% block content %}
<h1>Your Hendrix Odyssey</h1>
<button>Proposal Form</button>
<button>Completion Form</button>
<h3>Proposals</h3>
<table id="proposalsTable" border="0">
    {% for proposal in projects %}
      {% if proposal.status == 'COMPLETED'}
        <tr>
          <td>
            <a href="#">{{project.title}}</a>
          </td>
          <td>
            <a href="#">Status</a>
          </td>
          <td>
            <a href="#">Delete</a>
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
    <!-- <tr>
        <td><a href="">Project 1 Title</a></td>
        <td>Status</td>
        <td><a href="">Delete</a></td>
    </tr>
    <tr>
        <td><a href="">Project 2 Title</a></td>
        <td>Status</td>
        <td><a href="">Delete</a></td>
    </tr> -->
</table>
<h3>In Progress</h3>
<table id="progressTable" border="0">
    <tr>
        <td><a href="">Project 1</a></td>
        <td>Status</td>
        <td><a href="">Delete</a></td>
    </tr>

    <tr>
        <td><a href="">Project 2</a></td>
        <td>Status</td>
        <td><a href="">Delete</a></td>
    </tr>
</table>
{% endblock %}
