{% extends "projects/base.html" %}
{% block header %} Your Hendrix Odyssey {% endblock %}
{% block content %}
<h3>Saved Forms</h3>
<table id="saved_forms_table" class="display">
    <thead>
        <tr>
            <th>Project</th>
            <th>Form Type</th>
            <th>Updated Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for p in projects %}
        {% if 'Unsubmitted' in p.status %}
        <tr class="clickable" id="{{p.id}}">
            <td><a href="{% url 'projects:edit' p.id %}">{{p.title}}</a></td>
            <td>
            {% if 'Comp' in p.status %}
                Project Completion
            {% else %}
                Project Proposal
            {% endif %}</td>
            <td></td>
            <td>
            <div id="icons">
                <a href="{% url 'projects:edit' p.id %}" class="btn btn-link" aria-label="Edit">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true" id="editicon"></span>
                </a>
                <a href="#" class="btn btn-link" aria-label="Delete">
                <span class="glyphicon glyphicon-trash" aria-hidden="true" id="delicon"></span>
                </a>
                </div>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>

</table>
<h3>In Progress</h3>
<table id="progress_table" class="display">
    
    <thead>
        <tr>
        <th>Project</th>
        <th>Status</th>
        <th>Update</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for p in projects %}
    {% if p.status != "Complete" and p.status != "Unsubmitted" %}
        <tr class="clickable" id="{{p.id}}">
          <td><a href="{% url 'projects:status' p.id %}">{{p.title}}</a></td>
          <td>{{p.status}}</td>
          <td>{{ p.update_date }}</td>
          <td>
            <a href="{% url 'projects:status' p.id %}" class="btn btn-link" aria-label="View">
            	<span class="glyphicon glyphicon-eye-open" aria-hidden="true" id="viewicon"></span></a>
            <a href=#>Hide</a>
          </td>
        </tr>
    {% endif %}
    {% endfor %}
    </tbody>

</table>
<h3>Completed Projects</h3>
<table id="completion_table" class="display">
    
    <thead>
        <tr>
            <th>Project</th>
            <th>Category</th>
            <th>Completed</th>
            <th>Supervisor</th>
        </tr>
    </thead>
    <tbody>
        {% for p in projects %}
        {% if p.status == "Complete" %}
        <tr class="clickable" id="{{p.id}}">
            <td><a href="{% url 'projects:status' p.id %}">{{p.title}}</a></td>
            <td>{{p.category}}</td>
            <td>{{p.updated_date}}</td>
            <td>{{p.advisor.last_name}}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
    
</table>
{% endblock %}
