{% extends "projects/base.html" %}
{% block content %}
<div class="container">
<h1>Your Hendrix Odyssey</h1>

<h3>Proposals</h3>
<div class="row">
<table id="proposalsTable" class="col-md-6">


</table>
</div>
<h3>In Progress</h3>
<div class="row">
<table id="progressTable" class="display">
    
    <thead>
        <tr>
        <th>Project</th>
        <th>Status</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for proposal in projects %}
        <tr>
          <td class="titlecol">
            <a href="{% url 'projects:status' proposal.id %}">{{proposal.title}}</a>
          </td>
          <td>Status</td>
          <td>
            <a href=#>Delete</a>
          </td>
        </tr>
    {% endfor %}
    </tbody>

</table>
</div>
</div>
{% endblock %}
