{% extends "projects/base.html" %}
{% block title %}Log-In{% endblock %}
{% block content %}
  <form 
    class='form-horizontal' 
    action='submit/' 
    method="POST" 
    id="proposal-form" 
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div class="login-form">
      <div class="img">
        <img src="http://www.hendrix.edu/staticresources/images/hendrixLogo_bob.svg">
      </div>
      <div class="user form-group">
        <input id="username" name='username' type="text" class="boxcontrol" placeholder="Username">
      </div>
      <div class="pass form-group">
        <input id="password" name='password' type="password" class="boxcontrol" placeholder="Password">
      </div>
      {% if error %}
      <span></span>
      <span class='alert alert-danger'>{{error}}</span>
      {% endif %}

      <button class="logb btn" type="submit">Log In</button>
    </div>
  </form>
  

{% load static from staticfiles %}
<script src="{% static "projects/login.js" %}"></script>

{% endblock %}