{% extends "projects/base.html" %}
{% block title %}Odyssey Project Proposal Form{% endblock %}
{% block content %} 
<h1>Odyssey Project Proposal Form</h1>
    <div>
        <form action="">
            Project Title:
            <input type="text" id="title">
                <br><br>
                Participants:
                <select>
                    <option id="individual">Individual</option>
                    <option id="group">Group</option>
                </select>
                <button>Add Group Members</button>
                <br><br>
                Supervisor:
                <select>
                {% for user in supervisors %}
                    <option id="sv{{ user.id }}"> {{ user.first_name }} {{ user.last_name }}</option>
                {% endfor %}
                </select>
                <br><br>
                Category:
                <select>
                    <option id="ac">Artistic Creativity</option>
                    <option id="ga">Global Awareness</option>
                    <option id="pl">Professional and Leadership Development</option>
                    <option id="sp">Special Projects</option>
                    <option id="sw">Service to the World</option>
                    <option id="ur">Undergraduate Research</option>
                </select>
                <br><br>
                Start Date:
                <input type="date" id="startdate">
                    End Date:
                    <input type="date" id="enddate">
                        <br><br>
                        Please attach a copy of your narrative:
                        <br>
                        <input type="file" id="file">
                            <br> 
                            or
                            <br> 
                            <textarea rows="20" cols="50" id="narrative"></textarea>
                            </form>
    </div>
    <button id="ss">Submit to Supervisor(& Save)</button>
    <button id="save">Save Only</button>
    <button id="delete">Delete Form</button>
{% endblock %}