{% extends "projects/base.html" %}
{% block title %}Odyssey Project Proposal Form{% endblock %}
{% block header %}Odyssey Project Proposal Form{% endblock %}
{% block content %} 

<div>
    <form action='{% url 'projects:submitedit' project.id %}' method="POST" id="proposal-form" enctype="multipart/form-data">
        {% csrf_token %}
        Project Title:
        <input type="text" id="title" name="title" value="{{project.title}}">
        <br><br>
        Participants:
        <select id="party">
            <option id="ind">Individual</option>
            <option id="grp">Group</option>
        </select>
        <button class="btn btn-default btn-sm">Add Group Members</button>
        <br><br>
        Supervisor:
        <select id="super" name="super">
        {% for user in supervisors %}
        {% if user.id == project.advisor.id %}
            <option selected="selected" id="sv{{ user.id }}" name="sv{{ user.id }}" value="{{ user.id }}"> {{ user.first_name }} {{ user.last_name }}</option>
        {% else %}
            <option id="sv{{ user.id }}" name="sv{{ user.id }}" value="{{ user.id }}"> {{ user.first_name }} {{ user.last_name }}</option>
        {% endif %}
        {% endfor %}
        </select>
        <br><br>
        Category:
        <select id="cat" name="editcat">
            {% for c in categories %}
            {% if c == project.category %}
            <option selected="selected">{{ c }}</option>
            {% else %}
            <option>{{ c }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <br><br>
        Start Date:
        <input type="date" name="startdate" value={{ project.start_date }}>
        End Date:
        <input type="date" name="enddate" value={{ project.end_date }}>
        <br><br>Please attach a copy of your narrative:<br><br>
        <input type="file" name="narfile" id="narfile" class="inputnar"/>
        <label for="narfile">Choose a file</label><p id="narlabel"> No file selected</p>
        <br>
        or
        <br>
        <textarea rows="20" cols="50" id="narrative" name='narrative' placeholder="Type your narrative here, or attach a file above."></textarea>
        <br>
        <input type="submit" name="propose" class="btn btn-default btn-sm" value="Save &amp; Submit to Supervisor">
        <input type="submit" name="propose" class="btn btn-default btn-sm" value="Save Form">
        <!--<button type="submit" name="propose" class="btn btn-default btn-sm" value="del">Delete Form</button> -->
        <div id="dialog-overlay"></div>
    
    
    </form>
</div>
{% endblock %}