{% extends "projects/base.html" %}
{% block title %}Odyssey Project Proposal Form{% endblock %}
{% block header %}Odyssey Project Proposal Form{% endblock %}
{% block content %} 

<div>
    <form method="POST" id="proposal-form" enctype="multipart/form-data">
        {% csrf_token %}
        Project Title:
        <input type="text" id="title" name="title">
        <br><br>
        Participants:
        <select id="party">
            <option id="ind">Individual</option>
            <option id="grp">Group</option>
        </select>
        <a href="" class="btn btn-default btn-sm">Add Group Members</a>
        <br><br>
        Supervisor:
        <select id="super" name="super">
        {% for user in supervisors %}
           <option id="sv{{ user.id }}" name="sv{{ user.id }}" value="{{ user.id }}"> {{ user.first_name }} {{ user.last_name }}</option>
        {% endfor %}
        </select>
        <br><br>
        Category:
        <select id="cat" name="cat">
            <option id="ac">Artistic Creativity</option>
            <option id="ga">Global Awareness</option>
            <option id="pl">Professional and Leadership Development</option>
            <option id="sp">Special Projects</option>
            <option id="sw">Service to the World</option>
            <option id="ur">Undergraduate Research</option>
        </select>
        <br><br>
        Start Date:
        <input type="date" id="startdate">
        End Date:
        <input type="date" id="enddate">
        <br><br>Please attach a copy of your narrative:<br><br>
        <input type="file" name="narfile" id="narfile" class="inputnar"/>
        <label for="narfile">Choose a file</label><p id="narlabel"> No file selected</p>
        <br>
        or
        <br>
        <textarea rows="20" cols="50" id="narrative" name='narrative' placeholder="Type your narrative here, or attach a file above."></textarea>
        <br>
        <input type="submit" name="propose" formaction='submit/' class="btn btn-default btn-sm" value="Save &amp; Submit to Supervisor">
        <input type="submit" name="save" formaction='save/' class="btn btn-default btn-sm" value="Save Form">
        <!--<button type="submit" name="propose" class="btn btn-default btn-sm" value="del">Delete Form</button> -->
        <div id="dialog-overlay"></div>
    
    
    </form>
</div>
{% endblock %}