 {% extends "projects/base.html" %}
{% block header %} Your Hendrix Odyssey {% endblock %}
{% block content %}
<h3>Awaiting Approval</h3>
    <table id="awaiting_table" class="display">
        <thead>
            <tr>
                <th>Project</th>
                <th>Student</th>
                <th>Form Type</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            {% for proposal in projects %}
            <tr id="{{proposal.id}}">
                <td>{{proposal.title}}</td>
                <td>{{proposal.student}}</td>
                <td>form type</td>
                <td>proposal.update</td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
<h3>In Progress</h3>
<table id="progress_table" class="display">
    
    <thead>
        <tr>
            <th>Project</th>
            <th>Student</th>
            <th>Status</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        {% for proposal in projects %}
        <tr id="{{proposal.id}}">
            <td>{{proposal.title}}</td>
            <td>{{proposal.student}}</td>
            <td>{{proposal.status}}</td>
            <td>proposal.update</td>
        </tr>
        {% endfor %}
    </tbody>
    
</table>
<h3>Completed Projects</h3>
<table id="complete_table" class="display">
    
    <thead>
        <tr>
            <th>Project</th>
            <th>Category</th>
            <th>Student</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        {% for proposal in projects %}
        <tr id="{{proposal.id}}">
            <td>{{proposal.title}}</td>
            <td>{{proposal.category}}</td>
            <td>{{proposal.student}}</td>
            <td>proposal.update</td>
        </tr>
        {% endfor %}
    </tbody>
    
</table>

{% load static from staticfiles %}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.1.2/js/buttons.colVis.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/t/dt/jq-2.2.0,dt-1.10.11,b-1.1.2,r-2.0.2,se-1.1.2/datatables.min.js"></script>
<script src="{% static 'projects/superlanding.js' %}"></script>
{% endblock %}
