{% extends "projects/base.html" %}
{% block title %}Odyssey Project Completion Form{% endblock %}
{% block header %}Project Completion and Transcript Notation Form{% endblock %}
{% block content %}
<div class="body">
</div>
        <h3>{{project.title}}</h3>
        <h4 id="projectCategory">Category: {{project.category}}</h4>
        <div>
            <p id="student">
            Student: {{project.student.first_name}} {{project.student.last_name}}
            </p>
            <p id="group">
            Group Member(s):
            </p>
            <form action="{% url 'projects:submitcompletion' project.id %}" method="POST" id='completion-form' enctype="multipart/form-data">
            Start Date: {{project.start_date}}
            <br><br>
            End Date: {{project.end_date}}
            <br><br>
            
            Total Hours: <input type="text", id="hours"/><br><br>
            Hours Log: ~~~Insert Link to Hours Log~~~
            <br><br>Project Desciption/Transcript Notation:
            <a href="" id="CompRequire">Description Requirements</a><br>
            ~~~Insert Link to Narrative or display below~~~
            <p>or</p>
            <textarea rows="15" cols="56" id="description" placeholder="Type your project description paragraph here, or attach a file above."></textarea> 
            
            
            {% csrf_token %}

            <input type="accept" name="complete" class="btn btn-default btn-sm" value="Accept Completion">
            <input type="reject" name="complete" class="btn btn-default btn-sm" value="Reject Completion">
    
            </form>

{% endblock %}